@import '../variables.module';
@import '../mixins.module';

// Chicago mobile section styling
.chicago_mobile_section {
  margin-top: 2rem;
  color: var(--Paragraf, rgba(51, 51, 51, 0.65));
  font-family: Karla;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  height: 75rem;
  width: 100vw;
}

// Our story content styling
.our_story_contant {
  position: relative;
  display: flex;
  top: 20px;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 92vw;
  flex-direction: column;

  h1 {
    @include h1-component-style;
    color: $color-yellow;
    font-size: 36px;
  }

  h4 {
    @include h4-component-style;
    color: $color-dark-gray;
    margin-top: -1rem;
    font-size: 26px;
  }

  span {
    @include p-component-style;
    color: $color-dark-gray;
    width: 100%;
  }
}

// Slider Chicago styling
.slider_chicago {
  position: fixed;
}

// Our story photos styling
.our_story_photos {
  border-radius: 2rem;
}
