@import '../variables.module';
@import '../mixins.module';

.mobile_header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: fixed ;
  flex-direction: row;
  height: 6.5rem;
  padding: 0 1rem;
}

.main_header_mobile_nav {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main_header_mobile_nav_ul {
  width: 100%;
  margin: 2rem 0 0 0;
  padding: 0;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
}

.main_header_mobile_nav_ul_btn_menu {
  & button {
    min-width: 38px;
    width: 2rem;
    margin-left: 1rem;
  }
  width: 15%;
  margin: 0 0 0 -2rem;
  padding: 0;
}

.main_header_mobile_nav_ul_btn_logo {
  margin: 0;
  width: 60%;
  padding: 0 2rem;
}

.main_header_mobile_nav_ul_btn_basket {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  width: 15%;
  & :hover {
    .nav_menu_btn_basket_amound {
      background-color: rgb(6, 249, 46);
      color: black;
    }
  }
}
.nav_menu_btn_basket_amound {
  top: -16px;
  left: 27px;
  width: 20%;
  height: 20%;
  min-width: 25px;
  min-height: 25px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #ffc107;
}
.nav_menu_btn_basket {
  position: relative;
  opacity: 0.8;
  width: 12vw;
}

.nav_menu_btn_basket_amount {
  width: 20px;
  position: absolute;
  left: 50%;
  top: -20%;
  color: black;
  height: 20px;
  border-radius: 50%;
  background-color: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-device-width: 812px) {
  .main_header_mobile_nav_ul_btn_menu {
    width: 20%;
    margin: 0 0 0 -1.5rem;
  }

  .main_header_mobile_nav_ul_btn_logo {
    padding: 0 1rem;
  }

  .main_header_mobile_nav_ul_btn_basket {
    padding-left: 0.5rem;
  }
}

@media only screen and (max-device-width: 736px) {
  .main_header_mobile_nav_ul_btn_menu {
    width: 25%;
    margin: 0 0 0 -1rem;
  }

  .main_header_mobile_nav_ul_btn_logo {
    padding: 0 0.5rem;
  }

  .main_header_mobile_nav_ul_btn_basket {
    padding-left: 0.5rem;
  }
}

@media only screen and (max-device-width: 667px) {
  .mobile_header {
    height: 5.5rem;
  }

  .main_header_mobile_nav_ul {
    height: 3rem;
  }

  .main_header_mobile_nav_ul_btn_menu {
    width: 15%;
    margin-left: -22px;
  }

  .main_header_mobile_nav_ul_btn_logo {
    padding: 0 0.5rem;
  }

  .main_header_mobile_nav_ul_btn_basket {
    padding-left: 0.5rem;
  }
}
