$color-dark-green: #495e57;
$color-yellow: #f4ce14;
$color-orange: #ee9972;
$color-light-beige: #fbdabb;
$color-light-gray: #edefee;
$color-dark-gray: #333333;
$color_white: var(--White, #fff);
$border-radius: 1rem;
$blend-percentage: 35%;
$resulting-color: mix(rgb(0, 0, 0), $color-yellow, $blend-percentage);
$font_markazi_text: 'Markazi Text';
$font_Karla: 'Karla';
