@import './../variables.module';

header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 5.6875rem;
  flex-shrink: 0;
  background: var(--White, #fff);
  box-shadow: 0px 2px 8px -2px rgba(51, 51, 51, 0.25);
  justify-content: center;
  flex-wrap: nowrap;

  .header_logo {
    height: 3rem;
    gap: 3.9375rem;
  }

  nav {
    margin-left: 2rem;
  }
  .nav_menu_btn {
    width: 15%;
    margin-left: -6vh;
  }
  ul {
    display: flex;
    margin-top: 1rem;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    li {
      color: $color-dark-gray;
      margin: 0 0.75rem;
      text-wrap: nowrap;
      text-decoration: none;
      margin-left: 5%;
      font-family: Karla;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        transition: color 0.1s;
        color: $color-yellow;
      }

      &:focus {
        color: $color-yellow;
        transition: color 0.1s;
        text-decoration: underline;
        text-decoration-color: $color-yellow;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 31px #fff,
          0 0 55px rgb(255, 226, 4), 0 0 91px rgb(255, 226, 4),
          0 0 100px rgb(255, 226, 4);
      }
    }
  }
}

.nav_menu_btn_logo {
  position: relative;
}

@media all and (max-width: 1200px) {
  header {
    ul {
      display: flex;
      margin-top: 1rem;
      list-style-type: none;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media all and (max-width: 993px) {
  header {
    ul {
      display: flex;
      margin-right: 7%;
      margin-top: 1rem;
      list-style-type: none;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
