@import '../variables.module';

.tabs {
  display: flex;
  height: 3rem;
  justify-content: flex-start;
  flex-wrap: wrap;

  .tabList {
    display: flex;
    position: relative;
    text-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-left: -10px;
    flex-direction: row;

    @media all and (max-width: 993px) {
      align-items: center;
    }
  }

  .tab {

    padding: 1rem;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    height: 3rem;
    font-size: larger;

    &:hover {
      color: #333;
    }
  }

  .activeTab {
    color: $color-orange;
    border-bottom: 2px solid $color-orange;
    padding: 1rem;
    text-decoration: none;

    border-radius: 4px;
    height: 3rem;
    font-size: larger;

    &:hover,
    &:active,
    &:focus {
      color: blue;
      text-decoration: none;
    }
  }

  .tabPanels {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    width: -webkit-fill-available;
  }
}

// Media Queries

@media all and (max-width: 1900px) {
  .tabs {
    .tab,
    .activeTab {
      font-size: larger;
    }
  }
}
@media all and (max-width: 1400px) {
  .tabList {
    left: 2rem;
  }
}

@media all and (max-width: 1200px) {
  .tabList {
    left: -0.3rem;
  }
}

@media all and (max-width: 993px) {
  .tabs {
    .tabList {
      left: 1rem;}
  }
}
@media all and (max-width: 768px) {
  .tabList {
    left: 0rem;
  }
}

@media all and (max-width: 608px) {
  .tabList {
    justify-content: center;
    left: 0.5rem;
  }
  .tabs {
    .tab,
    .activeTab {
      font-size: 2.5vw;
    }
  }
}

@media all and (max-width: 400px) {
  .tabList {
    font-size: 13px;
  }
  .tabs {
    .tab,
    .activeTab {
      font-size: 2.5vw;
    }
  }
}
