@import '../variables.module';

.main {
  position: relative;
  top: 5.8rem;
  width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

@media all and (max-width: 555px) {
  .main {
    top: 0;
    width: -webkit-fill-available;
  }
}

@media all and (max-width: 900px) {
  .main {
    top: 5rem;
    width: -webkit-fill-available;
    min-height: 95vh;
  }
}
